<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="/QuienSoy">¿Quien soy?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/Proyectos">Proyectos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/Contactame">Contactame</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	
</div>
<router-outlet></router-outlet>